<div class="menu">
    <a href="../index.html" aria-label="home">
        <img src="../assets/images/nav/home.png" alt="home">
        <span>Home</span>
    </a>

    <a href="../project1/css-grid.html" aria-label="grid">
        <img src="../assets/images/nav/grid.png" alt="grid">
        <span>CSS Grid</span>
    </a>

    <a href="../project2/calculator.html" aria-label="calculator">
        <img src="../assets/images/nav/calc.png" alt="calculator">
        <span>Calculator</span>
    </a>

    <a href="../project3/mapbox.html" aria-label="peta">
        <img src="../assets/images/nav/peta.png" alt="peta">
        <span>Mapbox</span>
    </a>

    <a href="../project4/maps-fetch.html" aria-label="peta-wisata">
        <img src="../assets/images/nav/peta-wisata.png" alt="peta-wisata">
        <span>Mapbox Fetch</span>
    </a>
</div>